* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 16px;
}

body,
.wrapper {
  width: 100%;
  height: 100%;
  font-family: "TTNorms";
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
  padding: 0 15px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.0666666667);
  border-radius: 50px;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

img {
  display: block;
}

@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AlumniSans";
  src: url("../fonts/AlumniSansPinstripe-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
.header {
  width: 100%;
}
.header__warning {
  background: #ff8642;
}
.header__top-nav {
  background: #f2f3f5;
}
.warning {
  color: #fff;
  transition: transform 400ms ease 0s, opacity 0s ease 401ms, visibility 0s ease 401ms;
  position: absolute;
  width: 100%;
}
.warning__container {
  padding: 0.875em 0;
  position: relative;
  text-align: center;
}
.warning p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 137.5%;
}
.warning__cross {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.warning__cross::before, .warning__cross::after {
  content: "";
  width: 15px;
  height: 1.5px;
  border-radius: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
}
.warning__cross::before {
  transform: rotate(45deg);
}
.warning__cross::after {
  transform: rotate(-45deg);
}
.warning.close_ {
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.top-nav {
  margin: 0 0 0;
  width: 100%;
  transition: all 400ms ease 0s;
}
.top-nav.paddingTop_ {
  padding: 3.125em 0 0 0;
}
.top-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.6875em;
  padding-bottom: 0.6875em;
}
.top-nav__clock img {
  margin: 0 0.75em 0 0;
}
.top-nav__clock p {
  display: flex;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142.8571428571%;
  color: #1b1c21;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: calc(10px + 5 * ((100vw - 767px) / 433));
}
.navbar__item {
  list-style-type: none;
}
.navbar__link {
  color: #505567;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 142.8571428571%;
  font-family: "TTNorms";
  transition: all 1000ms ease;
}
@media (min-width: 767px) {
  .navbar__link:hover {
    color: #1b1c21;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: calc(20px + 12 * ((100vw - 767px) / 433));
}
.contacts__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.9375em;
}
.contacts__links a {
  transition: all 400ms ease;
}
@media (min-width: 767px) {
  .contacts__links a:hover {
    transform: scale(1.2);
  }
}
.contacts__orders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.625em;
}

.dropdown {
  position: relative;
}
.dropdown:hover img {
  transform: rotate(180deg);
  transition: 400ms ease;
}
.dropdown:hover .dropdown-menu {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  padding: 0.85em 0 0 0;
}
.dropdown:hover .dropdown-menu::before {
  top: 15px;
}
.dropdown a {
  display: flex;
}
.dropdown a img {
  height: 18.8px;
  transition: 400ms ease;
}
.dropdown-menu {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: flex;
  list-style: none;
  padding: 46px 0 0 0;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  left: -50%;
  width: 227.5%;
  transition: 400ms ease;
  z-index: 1;
}
.dropdown-menu::before {
  content: "";
  width: 100%;
  height: 128px;
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  z-index: -1;
  box-shadow: 0px 0px 5px rgba(34, 42, 70, 0.1);
  border-radius: 11px;
  transition: 400ms ease;
}
.dropdown li {
  font-size: 0.875rem;
  padding: 0 1.42em 0.714em;
  background: #fff;
  color: #505567;
  cursor: pointer;
  transition: all 400ms ease;
  border-right: 1px solid #f2f3f5;
  border-left: 1px solid #f2f3f5;
}
.dropdown li:last-child {
  padding-bottom: 1.25em;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #f2f3f5;
}
.dropdown li:first-child {
  padding-top: 1.25em;
  border-radius: 10px 10px 0 0;
  border-top: 1px solid #f2f3f5;
}
.dropdown li:hover {
  color: #0093a2;
}

.navigation {
  width: 100%;
  background: #fff;
}
.navigation__container {
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: calc(20px + 10 * ((100vw - 767px) / 433));
}
@media (min-width: 1200px) {
  .navigation__container {
    gap: 0 1.875em;
  }
}
.navigation__logo {
  flex: 1 0 25.08%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0px + 20 * ((100vw - 767px) / 433));
}
@media (min-width: 1200px) {
  .navigation__logo {
    gap: 0 1.25em;
  }
}
.navigation__logo p {
  font-size: 0.875rem;
}
.navigation__form {
  display: flex;
  width: 31.31%;
  position: relative;
}
.navigation__form input {
  outline: none;
  width: 190%;
  padding: 0.6875em 3.375em 0.6875em 1.25em;
  border-radius: 3.75em;
  border: 1px solid #d0d2d7;
  color: #7d818e;
  line-height: 137.5%;
  font-family: "TTNorms";
  font-weight: 400;
}
.navigation__form img {
  position: absolute;
  right: 0;
  right: 0.9375em;
  top: 50%;
  transform: translate(0, -50%);
}
.navigation__contacts {
  display: flex;
  align-items: center;
  gap: 0 0.9375em;
}
.navigation__contacts .navigation__dropdown {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.navigation__contacts .navigation__dropdown .dropdown-menu {
  width: 170%;
  left: 0;
  cursor: pointer;
}
.navigation__contacts .navigation__dropdown .dropdown-menu:hover {
  padding: 1.25em 0 0 0;
}
.navigation__contacts .navigation__dropdown .dropdown-menu li {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222a46;
}
.navigation__contacts .navigation__number {
  font-weight: 700;
  font-size: 1rem;
  line-height: 137.5%;
  color: #222a46;
}
.navigation__contacts > a {
  padding: 0.8125em;
  border-radius: 50%;
  border: 1px solid #d0d2d7;
}
.navigation__contacts > a img {
  width: 18px;
  display: block;
}
.navigation__contacts > a:hover {
  background: #d0d2d7;
}
.navigation__rest {
  flex: 0 0 15.75%;
}