// $primary:;
// $secondary:;
$white: #fff;
$black: #1b1c21;
$grey: #505567;
$blue: #0093a2;
$border: #d0d2d7;
$font-color: #222a46;
$red: #e2195b;

$container: 1200;

$laptop: 1024px;
$bigTablet: 992;
$tablet: 767;
$bigPhone: 425;
$mediumPhone: 375;
$smallPhone: 320;

@mixin adaptive-value($value, $computerSize, $mobileSize) {
   $addSize: $computerSize - $mobileSize;
   $maxWidth: $container - 320;
   #{$value}: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptive-value-tablet($value, $computerSize, $mobileSize) {
   $addSize: $computerSize - $mobileSize;
   $maxWidth: $container - 767;
   #{$value}: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - 767px) / #{$maxWidth}));
}

@mixin adaptive-manual($value, $computerSize, $mobileSize, $smallMaxWidth) {
   $addSize: $computerSize - $mobileSize;
   $maxWidth: $container - $smallMaxWidth;
   #{$value}: calc(#{$mobileSize + px} + #{$addSize} * ((100vw - #{$smallMaxWidth+px}) / #{$maxWidth}));
}

@mixin flex($y, $x) {
   display: flex;
   align-items: $y;
   justify-content: $x;
}
@mixin grid($cols, $rows) {
   display: grid;
   grid-template-columns: $cols;
   grid-template-rows: $rows;
}
// font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320))); CSS
